.places-section__place-paragraph {
  margin: 0;
  font-size: 18px;
  line-height: 1.63;
  font-weight: normal;
  color: #fff;
  align-items: start;
}

.places-section__place-paragraph:nth-child(n+2) {
  margin-top: 27px;
}

@media screen and (max-width: 949px) {
  .places-section__place-paragraph {
    font-size: 16px;
    line-height: 1.63;
    gap: 48px 28px;
  }

  .places-section__place-paragraph:nth-child(n+2) {
    margin-top: 25px;
  }
}

@media screen and (max-width: 699px) {
  .places-section__place-paragraph {
    margin: 32px 5vw 0 5vw;
  }

  .places-section__place-paragraph:nth-child(n+2) {
    margin-top: 25px;
  }
}
