.footer__columns {
  display: flex;
  width: 90%;
  margin-top: 60px;
  margin-bottom: 40px;
  justify-content: space-between; /* первый элемент прижат к началу контейнера, последний — к концу, а остальные расставлены между ними с одинаковыми промежутками */
  flex-direction: row;
}
