.places-section__place-image {
  width: 460px;
  grid-row-start: 2;
  grid-column-start: 1;
}

@media screen and (max-width: 1080px) {
  .places-section__place-image {
    width: 440px;
  }
}

@media screen and (max-width: 1000px) {
  .places-section__place-image {
    width: 340px;
  }
}

@media screen and (max-width: 740px) {
  .places-section__place-image {
    margin: 32px auto 0 auto;
    width: 100%;
    grid-row-start: 3;
    grid-column-start: 1;
  }
}
