.lead__image {
  margin: 0 auto;
  margin-top: 64px;
  width: 77vw;
  max-width: 1280px;
  height: 48vw;
  background-image: url(../../../images/lead/kalegin-michail-179870-unsplash.png);
  background-size: cover;
  background-position: top center;
  object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .lead__image {
    margin-top: 56px;
    width: 91vw;
    height: 57vw;
  }
}

@media screen and (max-width: 768px) {
  .lead__image {
    margin-top: 56px;
    width: 100%;
    height: 63vw;
  }
}

@media screen and (max-width: 425px) {
  .lead__image {
    margin-top: 40px;
    width: 100%;
    height: 63vw;
  }
}
