.cover {
  display: flex;
  background-image: url("../../images/cover/__background.png");
  position: relative;
  max-width: 1184px;
  min-height: 740px;
  background-size: cover;
  margin: 0 auto;
  margin-top: 92px;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1300px) {
  .cover {
    min-height: 760px;
  }
}

@media screen and (max-width: 1080px) {
  .cover {
    min-height: 640px;
  }
}

@media screen and (max-width: 1000px) {
  .cover {
    margin-top: 90px;
    min-height: 480px;
  }
}

@media screen and (max-width: 740px) {
  .cover {
    height: 59vw;
    margin-top: 66px;
    min-height: 200px;
  }
}


