.places-section__place {
  display: grid;
  grid-template-columns: min-content minmax(min-content, max-content);
  grid-template-rows: min-content min-content;
  gap: 48px 40px;
}

.places-section__place:nth-child(1n+2) {
  margin-top: 80px;
}

@media screen and (max-width: 1080px) {
  .places-section__place {
    gap: 48px 32px;
  }
}

@media screen and (max-width: 1000px) {
  .places-section__place {
    gap: 48px 28px;
  }

  .places-section__place:nth-child(1n+2) {
    margin-top: 73px;
  }
}

@media screen and (max-width: 740px) {
  .places-section__place {
    grid-template-columns:minmax(min-content, max-content);
    grid-template-rows: repeat(4, min-content);
    gap: 0;
  }

  .places-section__place:nth-child(1n+2) {
    margin-top: 50px;
  }
}
