.cover__title {
  margin: 0 auto;
  font-size: 72px;
  line-height: 1.06;
  font-weight: bold;
  color: #fff;
  text-align: center;
  max-width: 560px;
  z-index: 3;
}

@media screen and (max-width: 740px) {
  .cover__title {
    font-size: 32px;
    line-height: 1.09;
    max-width: 250px;
  }
}


