.places-section {
  margin: 0 auto;
  margin-top: 92px;
}

@media screen and (max-width: 1000px) {
  .places-section {
    margin-top: 88px;
  }
}

@media screen and (max-width: 740px) {
  .places-section {
    margin-top: 64px;
  }
}
