.intro__title {
  margin: 0;
  margin-top: 92px;
  font-size: 54px;
  line-height: 1.07;
  font-weight: bold;
  color: #fff;
  margin-left: calc(22vw / 2);
}

@media screen and (min-width: 1662px) {
  .intro__title {
    margin-left: 0px;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1662px){
  .intro__title {
    margin-left: calc((1280px - 77vw)/2);
  }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
  .intro__title {
    margin-left: calc(8vw/2);
  }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .intro__title {
    margin-top: 88px;
    margin-left: 3%;
  }
}

@media screen and (max-width: 425px) {
  .intro__title {
    margin-top: 64px;
    font-size: 32px;
    line-height: 1.09;
    margin-left: 5%;
  }
}

